# Created by .ignore support plugin (hsz.mobi)
**/.DS_Store
*~
**/.idea
**/__pycache__
**/*.pyc
**/venv
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/site-packages
\#*#
*.swp
*.pyc
*.lic
debug.log
.repo_conf/*.retry
**/.idea
**/.terraform.lock.hcl
**/__pycache__
ncc-service-account.json
